parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    push_platforms: ~
    push_topic: arn
    push_aws_key: key
    push_aws_secret: secret
    push_aws_region: eu-west-1

    mcfedr_twitter_consumer_key: key
    mcfedr_twitter_consumer_secret: secret
    mcfedr_twitter_token: token
    mcfedr_twitter_token_secret: secret
    mcfedr_userid: userid

    admin_password: ~

    mcfedr_youtube_api_key: key
    mcfedr_youtube_channel_id: channelId
    mcfedr_youtube_cache_timeout: 3600

    mcfedr_hromadske_radio:
        -
            host: 94.45.135.158
            stream: HrAudio_aac

    mcfedr_hromadske_homepage: "http://www.hromadske.tv/"
